// Colors

$primaryWhite: #ffffff;
$primaryRed: #f65261;
$primaryRedLight: #f57a85;

$secondaryBlack: #000000;
$secondaryDarkGray: #232323;
$secondaryGray: #424242;
$secondaryLightGray: #555555;

:export {
    primaryWhite: $primaryWhite;
    primaryRed: $primaryRed;
    primaryRedLight: $primaryRedLight;

    secondaryBlack: $secondaryBlack;
    secondaryDarkGray: $secondaryDarkGray;
    secondaryGray: $secondaryGray;
    secondaryLightGray: $secondaryLightGray;
}
