<div class="image">
  <img [src]="data.urlToImage !== 'null' ? data.urlToImage : defaultImgUrl">
</div>
<div class="content">
    <p>{{ data.title }}...</p>
    <button type="button" class="btn btn-link" [routerLink]="['/news/', data._id]">Read more...</button>
</div>
<div class="content-control">
  <small>{{ data.publishedAt | date:'medium' }}</small>
  <div class="content-control-group">
    <button type="button" class="btn btn-success" [disabled]="isButtonDisabled()" [routerLink]="['/edit/', data._id]">Edit</button>
    <button type="button" class="btn btn-danger" [disabled]="isButtonDisabled()" (click)="remove()">Delete</button>
  </div>
</div>

<app-alert [data]="alertData"></app-alert>
