<form class="form" *ngIf="isVisible" novalidate (ngSubmit)="save(form)" [formGroup]="form">
  <div>
    <input type="text" class="form-control" placeholder="Heading" formControlName="heading" required>
    <input type="text" class="form-control" placeholder="Short description" formControlName="description">
    <textarea class="form-control" placeholder="Content" formControlName="content" required></textarea>
  </div>

  <div>
    <div class="form-check form-radio-group">
      <div>
        <label class="form-check-label" for="radio1">
          Url
        </label>
        <input class="form-check-input" type="radio" name="radio" id="radio1" value="url" [checked]="true" (click)="click($event)">
      </div>
      <div>
        <label class="form-check-label" for="radio2">
          File
        </label>
        <input class="form-check-input" type="radio" name="radio" id="radio2" value="file" (click)="click($event)">
      </div>
    </div>
    <img [src]="image" *ngIf="image && !radioButtonValue"/>
    <input type="text" class="form-control" placeholder="Image URL" *ngIf="!radioButtonValue" (change)="change($event)" formControlName="image">
    <input type="file" class="form-control-file" *ngIf="radioButtonValue" (change)="change($event)" formControlName="image">
    <input type="text" class="form-control" placeholder="Date" formControlName="date">
    <input type="text" class="form-control" placeholder="Author" formControlName="author">
    <input type="text" class="form-control" placeholder="Source URL" formControlName="source">

    <div class="button-controler">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>

<app-alert [data]="alertData"></app-alert>
