$font: Helvetica, Arial, sans-serif;

$c-white: #ffffff;
$bg-image: linear-gradient(to bottom, #cecfd1, #dadbdc, #e7e7e8, #f3f3f3, #ffffff);

$c-primary: #da291c;
$c-primary-hover: #ff877e;
$с-secondary: #333333;

$breakpoint-tablet: 768px;
$breakpoint-phone: 640px;
