html {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
