.news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    background: $c-white;
    padding: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px 0px rgba(127,127,127,0.3);

    @include phone() {
        flex-direction: column;

        .news-item-img {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .news-item-img {
        width: 200px;
        height: 100%;
    }

    .news-item-block {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 100%;

        .news-item-block-title {
            text-decoration: none;
            font-size: 1.4rem;
            color: $c-primary;
            margin-bottom: 1rem;

            &:hover {
                color: $c-primary-hover;
            }
        }

        .news-item-block-description {
            margin-bottom: 0.8rem;
        }

        .news-item-block-date {
            margin-bottom: 0.4rem;
        }
    }
}
