form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  max-width: 800px;
  margin: 14px auto;
  background: radial-gradient(circle at center, #fff 0, #f7f7f7 100%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .14);

  input {
    min-width: 350px;
    font-size: 16px;
    padding: 20px 5px;
    margin-bottom: 10px;
  }

  button {
    font-size: 16px;
  }
}
